<!-- views/tweets.ejs -->
<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" type="text/css" href="/css/site.css">    
    </head>
	    <main>
	            <h1>Twitter Clone Course</h1>
		    <p>We're learning HTML!</p>
	   </main>
</html>

