<!-- views/tweets.ejs -->
<!DOCTYPE html>
<html>
    <header>
       <link rel="stylesheet" type="text/css" href="/css/site.css">    
    </header>
	    <main>

	    
		
		  <form id="tweet-form" action="/tweets/create" method="POST">
	          <input id="tweet-form-handle" type="text" name="handle" placeholder="Yo Ho Ho Brunecas">
		  <textarea id="tweet-form-body" name="body" placeholder="What's happening?"></textarea>
		    <button id="tweet-form-button">Jam it!</button>
	     </form>
		  <% for(var i = 0; i < tweets.length; i++) { %>
			<% var tweet = tweets[i]; %>
			<article class="tweet">
			  <p>
				<a href="http://github.com/<%= tweet.handle %>">@<%= tweet.handle %></a>
				<span class="light-grey"> - <%= tweet.time_from_now %></span>
			  </p>
			  <p><%= tweet.body %></p>
			</article>
		  <% } %>
		  

		  
	   </main>
	   
	   
	   	<div>
		  	<div id="bot-triangle"></div>
			<div id="left-triangle"></div>
		</div>
</html>

