<!-- views/tweets.ejs -->
<!DOCTYPE html>
<html>
    <header>
       <link rel="stylesheet" type="text/css" href="/css/site.css">    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="/js/game.js"></script>
    </header>
    <main>
      <form id="tweet-form" action="/tweets/create" method="POST">
        <input id="tweet-form-handle" type="text" name="handle" placeholder="DonkkaShane">
        <textarea id="tweet-form-body" name="body" placeholder="What's happening?"></textarea>
        <button id="tweet-form-button">Tweet</button>
      </form>
      <% for(var i = 0; i < tweets.length; i++) { %>
        <%- include('_tweet', { tweet: tweets[i] }); %>
      <% } %>
    </main>
	   
	  <!-- <div class="center">
	   	<div id="maze">
		  	<div id="top-triangle">
				<div class="v">2</div>
			</div>
			<div id="right-triangle">
				<div class="va">2</div>
			</div>
			<div id="bot-triangle"></div>
			<div id="left-triangle"></div>
		</div>
		</div>-->
		
		<div class="game">
			<div class="board">
				<div class="square center top-square">
					<span class="content">2</span>
				</div>

				<div class="middleRow center">
				
					<div class="square left">
						<span class="content">9</span>
					</div>
					<div class="square right">
						<span class="content">4</span>
					</div>
				</div>

				<div class="square bottom">
					<span class="content">1</span>
				</div>
			</div>

			
			<div id="solution">
			
			</div>
		</div>
		
	
</html>

